<div class="rcrumbs" id="breadcrumbs">
    <ul>
        {{#each models}}
			{{#unless @last}}
				<li><a data-breadcrumb-id="{{this._id}}">{{this.displayTitle}}</a><span class="divider">{{../divider}}</span></li>
			{{else}}
				<li><span data-breadcrumb-id="{{this._id}}">{{this.displayTitle}}</span></li>
			{{/unless}}
        {{/each}}
    </ul>
</div>
